@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow-x: hidden;
  }
  
@font-face {
  font-family: "Clash Display";
  src: url('./fonts/ClashDisplay-Regular.otf');
}

/* Hide scrollbar for all browsers */
body {
  overflow: hidden;
}

/* Optional: Allow scrolling only via Lenis */
html {
  overflow: hidden;
}
